body{
    height: 100vh;
    padding: 2.5vh;
    display: flex;
}

.contain{
    display: inline-block;
    border-radius: 30px;
}

#secEncriptadora{
    background-color: aquamarine;
    width: 200vh;
    margin: 0 1%;
}

#secInformativa{
    background-color: tomato;
    width: 100vh;
    margin: 0 1vh;
}

.img_center{
    width: 336px;
    margin: 0 auto;
    
}

#img{
    height: 250px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 50px;
}