body{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#secEncriptadora{
    width: 70%;
    height: auto;
    background-color: blue;
}



#Logo{
    width: Fixed (120px);
    height: Fixed (48px);
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;

}

#secInformativa{
    width: 30%;
    height: auto;
    background-color: brown;
}

#conteinInformation{
    

}